.page-main {
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
}

.page-main__wrapper {
  width: 360px;
  margin: 0 auto;
}

// .page-main__title {
//   width: 230px;
//   padding: 0;
//   margin: 0 auto;
//   padding-top: 30px;
//   line-height: 30px;
//   padding-bottom: 51px;
//   text-align: center;
//   font-size: 24px;
//   font-weight: 300;
// }

