$text-blue: #1F3F68;
$text-white: #FFFFFF;
$text-light-blue: #316099;
$bg-white: #FFFFFF;
$button-blue: #5A98D0;
$tablet-width: 660px;
$desktop-width: 1366px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
